<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./estilos.css">
        <title>Document</title>
    </head>
    <body>
    
        <section class="contenedor-pagina">

            <header class="contenedor-1">
                <nav>
                    <div class="nombre">BARRA DE HERRAMIENTAS</div>
                </nav>
            </header>

            <section class="contenedor-2">
                <aside class="contenido_secudario">
                    <div>CONTENIDO SECUNDARIO</div>
                </aside>

                <article class="contenedor-3">
                    <header class="barra__sub_herramientas">
                        <div>SUB BARRA DE HERRAMIENTAS</div>
                    </header>
                    <article>
                        <div class="espacio"> </div>
                    </article>
                </article>
            </section>
            
        </section>


    </body>
</html>